footer {
  background-color: black;
  text-align: center;
  border-radius: 6px 6px 0 0;

  p {
    padding: 11px 0;
    font-size: 14px;
    color: white;
    margin: 0 auto;
  }

  span {
    font-weight: 700; //negrita a la autoría
  }
}
